<div id="→">
  <h4>Links</h4>
  <ul class="vcard">
    <li><a href="/board/14/board.html">Folkestone Forum</a></li>
    <li><a href="https://www.tidetimes.org.uk/folkestone-tide-times">Folkestone tide times</a></li>
    <li>Site by <a rel="me" class="url fn" href="http://www.clarkeology.com/blog/" itemprop="url" title="All about Pauly"><span itemprop="name">Paul Clarke</span></a></li>
  </ul>
  {% comment %}{% for post in site.posts limit:5 %}
  <h4>Latest</h4>
  <ul>
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  </ul>
  {% endfor %}{% endcomment %}
  <h4><a href="/privacy">Privacy policy</a></h4>
</div>
