h1,
/* h6.rate, */
/* #ebay, */
/* div.mVenue,
div.mEvent,
div.mAmazon,
div.mCategory,
div.mPrecis,
div.mSubject,
div.mBoard,
div.mI, */
td.ggparent,
#→ #pic,
#→ img,
#banner,
ins,
.extra,
/* .🔧 #→ .music, */
.🔍,
#largeSkyscraper {
  display: none;
}
/* input,
textarea */
#→ {
  width: 100%;
}
div a {
  margin: 1em 1em 1em 0;
}
body>form,
body>div {
  font-size: 1.2em;
}
/* div h5 {
  margin-right: 1.5em;
} */
