#toolTip {
	max-width: 400px;
	background: #60c;
	color: #f9f9f9;
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: left;
	padding: 5px;
	margin: 0;
}
/* #toolTip a {
	color: #fff;
	text-decoration: none;
} */
/* #toolTip a:visited {
	color: #f9f9f9;
	text-decoration: none;
}
#toolTip em {
	display: block;
	margin-top: 3px;
	color: #ded;
	font-style: none;
} */
